<h1>Parcel Pricer</h1>
<h3>Price your parcel here!</h3>

<form action="/output">
  <div class="form-group">
  <label for="length">Length</label>
  <input type="number" name="length">

  <label for="width">Width</label>
  <input type="number" name="width">

  <label for="height">Height</label>
  <input type="number" name="height">
  </div>

  <div class="form-group">
    <label for="weight">Weight</label>
    <input type="number" name="weight">
  </div>

  <div class="form-group">
    <label for="distance">Distance</label>
    <input type="number" name="distance">
  </div>
  <button type="submit" name="button">Calculate Price!</button>

</form>
